body {
  background-image: url('plane.jpg');
}

.table-animate {
  animation: mymove 5s;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 100px;}
}

#tripper-header:hover {
  color: cornflowerblue;
}

#navbar-flights:hover {
  color: cornflowerblue;
}

.table-header:hover {
  color: cornflowerblue;
}

.nav-item:hover{
  color: cornflowerblue;
}

.flight-link {
  color: hotpink;
  text-decoration: none;
}

.flight-link:hover {
  color: white;
  text-decoration: none;
}

.airport-link {
  color: hotpink;
  text-decoration: none;
}

.airport-link:hover {
  color: white;
  text-decoration: none;
}

.status-green {
  color: limegreen;
}

.status-yellow {
  color: yellow;
}

.status-red {
  color: red;
}

.status-blue {
  color: cornflowerblue;
}

.page-title, .departures, .arrivals, .hotels, .restaurants {
  border-radius: 5px;
  display: inline;
  background-color: #343A40;
  color: ivory;
}